// Big Button
.big-button {
  background: $blue;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: 0.5;
}

button {
  cursor: pointer;
  letter-spacing: 0.2rem;
  border-radius: 0.8rem;
}

button:disabled {
  cursor: default;
}

// Buttons
.button {
  background: $purple-gradient;
  border: none;
  color: white;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}

.button--text {
  font-weight: bold;
  text-transform: uppercase;
  padding: $s-size $l-size;
}

.button--icon {
  border-radius: 50%;
  border: 0.3rem solid white;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
     font-size: $l-size;
     margin-bottom: $xl-size;
  }
}