// Big Button
.user-header {
  background: $dark-blue;
  border: none;
  border-radius: 0.8rem;
  color: $off-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: $m-size;
  padding: 2.4rem;
  backdrop-filter: blur(2rem);
}

.big-button {
  background: $blue;
  border: none;
  color: $off-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
  backdrop-filter: blur(2rem);
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $m-size;
  margin-bottom: $m-size;
}

.user__photo {
  width: 7rem;
  height: 7rem;
  margin-right: 0.2rem;
}

.user__photo--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user__name {
  font-weight: bold;
  color: $off-white;
}

.big-button:disabled {
  opacity: 0.5;
}

button {
  cursor: pointer;
  letter-spacing: 0.2rem;
  border-radius: 0.8rem;
}

button:disabled {
  cursor: default;
}

// Buttons
.button {
  background-image: $gradient;
  border: none;
  color: white;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}

.button--text {
  font-weight: bold;
  text-transform: uppercase;
  padding: $s-size $l-size;
}

.button--icon {
  padding: 0 0;
  width: 4rem;
  height: 4rem;
  border: 0.3rem solid rgba(255,255,255,0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--icon:active {
  border: 0.3rem solid white;
}

.button--plus {
  border-radius: 0.8rem;
  border: none;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
     font-size: $l-size;
     margin-bottom: $xl-size;
  }

  .button--plus {
    padding: 0 0;
    width: 4rem;
    height: 4rem;
    border: 0.3rem solid rgba(255,255,255,0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button--plus:active {
    border: 0.3rem solid white;
  }
}

@media (max-width: $desktop-breakpoint) {
  .button {
    font-size: $s-size;
    padding: $s-size $m-size;
  }
}