.option {
  border: 0.3rem solid rgba(255,255,255,0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $m-size;
  margin: $m-size;
  background-color: $dark-blue;
  border-radius: 0.8rem;
  color: white;
  backdrop-filter: blur(7rem);
}

.option__name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  word-break: break-all;
}

.option__number {
  font-weight: bold;
  margin-right: 1rem;
  font-size: 1.8rem;
  color: $off-white;
  word-break: break-all;
}

.option__text {
  font-weight: 500;
  font-size: 1.8rem;
  color: $off-white;
  word-break: break-all;
}